body {
	background-color: white;
	color: black;
	padding: 1%;
	text-align: center;

  }

.title {
	margin: 30px;
}
.panel {
	width: 70%;
	/* display: inline-block; */
}

table {
	width: 800px;
}
td {
	width: 30%;
}